<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Welcome, {{currUser.name}}!</h1>
    <h2>You've been poked {{currUser.pokes_received.count}} times!</h2>

    <a href="logout/">Logout</a>

    <div>
        {% for thePoker in poked_by %}
            <p>{{thePoker.poker.name}} poked you {{thePoker.poker.pokes_made.count}} times, bro</p>
        {% endfor %}
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>Alias</th> 
            <th>Email Address</th>
            <th>Poke History</th>
            <th>Action</th>
        </tr>
        {% for others in otherUsers %}        
            <tr>
                <td>{{others.name}}</td>
                <td>{{others.alias}}</td> 
                <td>{{others.email}}</td>
                <td>{{others.pokes_made.count}}</td>
                <td><a href="/poke/{{others.id}}">Poke!</a></td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>